.WeatherControls {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
.WeatherControls button {
  background-color: transparent;
  border: none;
  transition: all ease-in-out 0.3s;
  padding: 0;
}
.WeatherControls button:focus {
  transform: rotate(-90deg);
}
button::-moz-focus-inner {
  border: 0;
}

.WeatherControls img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.WeatherControls input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  height: 32px;
  width: 60%;
  color: grey;
  margin-right: 1em;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
}
.WeatherControls input:focus {
  border-color: #1db9fd;
  width: 70%;
  font-size: 1.1em;
  color: #1db9fd;
}
