.WeatherView {
  width: 400px;
  align-self: center;
  position: absolute;
  top: 100px;
  left: calc((100% - 400px) / 2);
  text-align: center;
}

.WeatherView > p {
  font-size: 1.7rem;
}

.WeatherView > div {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  justify-content: space-evenly;
}
